.details_container {
    position: relative;
}
.imageContainer {
    position: relative;
}
.flag {
    position: absolute;
    top: 0;
    left: 19vw;
    width: 7vh;
    height: 7vh;
    object-fit: cover;
    border-radius: 48%;
}