.footer {
    background-color: rgba(224, 236, 236, 0.183);
    height: 5vh;
    color: rgb(95, 19, 4);
    font-weight: 600;
    font-size: 2.5vh;
    text-align: center;
    margin-top: auto;
    width: 100%;
}