.header {
    background-color: rgba(224, 236, 236, 0.183);
    height: 6vh;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .1vw;
}
.header a {
    text-decoration: none;
    color: rgb(90, 9, 2);
    text-shadow: 10px 10px 25px rgb(243, 241, 240),
    -10px 10px 25px rgb(222, 203, 200),
    -10px -10px 25px rgb(143, 134, 131),
    10px -10px 25px rgb(113, 110, 110);
    font-weight: 700;
    transition: all .4;
    font-size: 2.5vh;
} 
.header h1{
    letter-spacing: 2px;
    font-size: 3.4vh; 
    margin-left: 2vw;
}

.header a:active, a:hover{
    text-decoration: underline;
    color: rgb(189, 80, 12);
}