.container {
    position: fixed;
    text-align: center;
} 
.recipeText {
    margin-top: 25vh;
    font-size: 3vh;
}
.bannerText {
    color: rgb(241, 228, 227);
    position: relative;
    top: 3vh;
    left: 6vw;
    text-align: left;
    font-weight: 700;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}
