.main {
    /* background: url('assets/pexels-miodrag-kitanović-4286939.jpg') no-repeat center center/cover; */
    min-height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}