.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}
ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    flex: 1;
  }
.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: .1vw;
    margin: 1vw;
    letter-spacing: 1px;
    font-weight: 600;
}
