.recipeCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    height: 40vh;
    width: 20vw;
    background-color: rgba(134, 172, 172, 0.321);
    margin: 1.5vh;
    padding: 2vh;
    text-align: center;
    position: relative;
}
img{
    height: 25vh;
    width: 20vw;
    object-fit: cover;
}
.title {
    font-size: 2.5vh
}

.flag {
    position: absolute;
    top: 0;
    left: 20vw;
    width: 6vh;
    height: 6vh;
    object-fit: cover;
    border-radius: 48%;
}