@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bungee+Spice&family=Caveat&family=Kalam:wght@300&family=Lato:ital@0;1&family=Montserrat&family=Ms+Madi&family=Mystery+Quest&family=Permanent+Marker&family=Rubik+Microbe&family=Titan+One&display=swap');
body {
  margin: 0;
  font-family: 'Kalam', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Kalam', cursive;
}
